* {
    padding: 0;
    margin: 0;
}
   
body{
  margin: 0;
  padding: 0;
}

section{
  position: relative;
}


h1{
  position: relative;
  z-index: 5;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 50px;
}

#city{
}

nav{
  background: rgba(0, 0, 0, 0.5);
  padding: 0;
  text-align: center;
  width: 100%;
  height:40px;
  z-index: 10;
  
  font-family: 'Droid Serif', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
  line-height: 23px;

}
nav.sticky{
  position: fixed;
  top: 0;
  left: 0;

}
nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li{
  display: inline-block;
  color: #fff;
  border: solid #ccc;
  border-width: 0 1px;
  margin: 0 1px;
  padding: 10px 20px;
}
#nav-spacer{
  height:40px;
  width:100%;
  display:none;
}

#jumbotron{
  overflow:hidden;
  height:720px;
  display:block;
  margin:0 auto;
  background-image:url('/img/kitt_big2.jpg');
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#header{
  width:100;
  color: #fff;
  text-align:right;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  line-height: 51px;
  font-size: 46px;
  text-transform: uppercase;
  margin: 23px 23px 23px 0;
  z-index:5;
}

footer{
  background: rgba(0, 0, 0, 0.5);
  padding: 0;
  width: 100%;
  height:100px;
  z-index: 10;
  font-family: 'Droid Serif', serif;
      font-size: 15px;
      line-height: 23px;
      margin: 0 0 23px 0;
}

.contact{
  float:left;
  padding:20px;
}

.social{
  float:right;
  text-align:right;
  padding:20px;
}

#dev{
  width:85%;
  margin:50px auto;
}

#dev-header{
  height:60px;
  font-family: 'Droid Serif', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 50px;
  line-height: 53px;
  text-align:center;
  
}

