!!!
%html
  %head
    %title Brandon Norris Resume
    %link{:href => "http://resume.linkedinlabs.com/stylesheets/all.css?1352796666", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %meta{:content => "authenticity_token", :name => "csrf-param"}/
    %meta{:content => "k/hjsDlmjaRX5LpXbLUA/jiBk55ugowYL9gizPP/TLU=", :name => "csrf-token"}/
    %meta{:content => "Use the Resume Builder to turn your LinkedIn Profile into a beautiful resume. Pick a resume template, customize the content, and print and share the result to your heart's content.", :name => "description"}/
    %meta{:content => "Resume, Online Resume, Resume Builder, Resume Generator, LinkedIn Profile, CV, Curriculum Vitae", :name => "keywords"}/
    %link{:href => "/favicon.ico", :rel => "icon", :type => "image/ico"}/
    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/ico"}/
    %link.resume-style{:href => "http://resume.linkedinlabs.com/stylesheets/templates/orange.css?1352796668", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %meta{:content => "noindex, nofollow", :name => "robots"}/
  %body
    #wrapper
      / 
      #view
        #resume
          .header
          %h1.name
            %span.first-name Brandon
            %span.last-name Norris
            %span.headline Founder at Omaha Maker Group
          .clear
          .section.contact
            %h2.section-header
              %span.text Contact
            .content
              .email-address
                %span.label Email:
                %span.content
                  %a{:href => "blnorris@gmail.com"} blnorris@gmail.com
            .clear
          .section.skills
            %h2.section-header
              %span.text Skills
            .content
              %ul.skills-list
                %li.skill.first
                  %span.skill-name Ruby
                %li.skill
                  %span.skill-name Ruby on Rails
                %li.skill
                  %span.skill-name HTML 5
                %li.skill
                  %span.skill-name HAML
                %li.skill
                  %span.skill-name CSS3
                %li.skill
                  %span.skill-name SASS
                %li.skill
                  %span.skill-name JavaScript
                %li.skill
                  %span.skill-name CoffeeScript
                %li.skill
                  %span.skill-name Web Applications
                %li.skill
                  %span.skill-name Git
                %li.skill
                  %span.skill-name Github
                %li.skill
                  %span.skill-name Arduino
            .clear
          .section.educations
            %h2.section-header
              %span.text Education
            .content
              .education.first
                .school-name Omaha Code School
                .dates
                  %span.start-year 2014
                  %span.date-separator -
                  %span.end-year 2014
                .program
                  %span.field-of-study Web development
              .education
                .school-name Metropolitan Community College
                .dates
                  %span.start-year 2013
                  %span.date-separator -
                  %span.end-year 2013
                .program
                  %span.field-of-study Computer Science
              .education
                .school-name Southeast Community College
                .dates
                  %span.start-year 2007
                  %span.date-separator -
                  %span.end-year 2008
                .program
                  %span.field-of-study Information Technology
            .clear
          .section.educations
            %h2.section-header
              %span.text Projects
            .content
              .position.first
                .company-name OmaWho
                .title
                  %p Back End Developer
                .job-summary
                  %p Website for the faces of Omaha's Creative Community.
                  %p
                    %a{:href => "OmaWho.com"} OmaWho.com
              .position
                .company-name BarBot
                .title
                  %p Full Stack Developer
                .job-summary
                  %p Web interface for my Robotic Bartender.
                  %p
                    %a{:href => "barbot.blnorris.com"} barbot.blnorris.com
              .position
                .company-name FlipBook
                .title
                  %p Back End Developer
                .job-summary
                  %p Animate your Instagram photos
                  %p
                    %a{:href => "http://flipbook-ocs.herokuapp.com"} http://flipbook-ocs.herokuapp.com
          .section.positions
            %h2.section-header
              %span.text Experience
            .content
              .position.first
                .company-name Omaha Maker Group
                .dates
                  %span.start-year 2010
                  %span.date-separator -
                  %span.is-current Present
                .title Founder and Member of the Board
                .job-summary
                  %p Create and maintain a community work space for Omaha's Creative Community.
              .position
                .company-name RUN Networks
                .dates
                  %span.start-year 2012
                  %span.date-separator -
                  %span.end-year 2013
                .title Systems Engineer
                .job-summary
                  %ul
                    %li Server deployment and support
                    %li Network troubleshooting and repair
                    %li Software install and maintanence
              .position
                .company-name Adecco
                .dates
                  %span.start-year 2011
                  %span.date-separator -
                  %span.end-year 2012
                .title Operations Technician
                .job-summary
                  %ul
                    %li Troubleshoot Linux based servers
                    %li Deployed new systems and infrastructure
                    %li Diagnosed and repair existing systems
              .position
                .company-name West Assett Management
                .dates
                  %span.start-year 2010
                  %span.date-separator -
                  %span.end-year 2011
                .title Desktop Support
                .job-summary
                  %ul
                    %li Desktop PC hardware and software support
                    %li Built out and deployed new systems
                    %li Diagnosed and repaired existing systems
              .position
                .company-name Kamterter Products LLC
                .dates
                  %span.start-year 2010
                  %span.date-separator -
                  %span.end-year 2010
                .title CAD Product Design and Fabrication
                .job-summary
                  %ul
                    %li Used 3D CAD programs to design new equipment
                    %li Constructed products from designs
                    %li Worked with coworkers to complete projects
              .position
                .company-name Infinite Internet Systems
                .dates
                  %span.start-year 2007
                  %span.date-separator -
                  %span.end-year 2009
                .title Network Administrator
                .job-summary
                  %ul
                    %li Set up physical networks
                    %li Installed and configured Linux, Windows and BSD based servers
                    %li Configured and installed switches and core routers
            .clear
          .section.certifications
            %h2.section-header
              %span.text Certifications
            .content
              .certification.first
                .certification-name Network+
                .dates
                  %span.start-month 09 /
                  %span.start-year 2013
                .certificate-details
                  %span.authority CompTIA
            .clear
          .footer
        .view-clear
        #loading.overlay
          %span.spinner-text
          = succeed "{:alt" do
            %img.spinner/
          \=> "Working", :src => "http://resume.linkedinlabs.com/images/animated/ajax-loader.gif?1344924637"}/
    :javascript
      {:src => "http://resume.linkedinlabs.com/javascripts/all.js?1357860589", :type => "text/javascript"}
