  
  
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/splash.css">
        <!-- Custom JS -->
        <script type="text/javascript" src="global.js"></script>
    </head>
    <body>

        <div class="site">

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Brandon Norris<br />
                Developer, Maker, Do-er<br />
                Brandon@BLNorris.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/blnorris">github.com/BLNorris</a><br />
                <a href="http://www.thingiverse.com/BLNorris/">thingiverse.com/BLNorris</a><br />
                <a href="http://www.omahamakergroup.com/">omahamakergroup.com</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
